mat-card {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
  }
  
  .filter-row {
    display: flex;
    gap: 20px;
  }
  
  .filter-actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  table {
    width: 100%;
  }
  